.centro{
    text-align: center;
}
header img {
    height: 100%;
}
header p {
    background-color: rgb(228, 182, 142);
    padding: 1%;
    
}
main div img {
    border-radius: 15px;
}
main h3 {
    color: gray;
}

main div h4{
    margin-top: -1%;
    text-align: left;
    
}
main div h4{
    margin-top: -1.5%;
    text-align: left;
    
    margin-inline: auto;
 }
div .prova h3{
    color: red;
    text-transform: uppercase;
    text-align: left;
}
.tutto{
    width: 800px;
    margin-inline: auto;
}